.presentation-text {
  font-family: var(--bold-kanit);
  font-size: 30px;
  text-align: center;
}
.presentation-button {
  cursor: pointer;
  margin: 10px;
}
.presentation-button:hover {
  background: black;
}
