@media screen and (min-width: 768px) {
  .landing-image {
    width: 400px;
  }
  .header {
    padding: 1% 8%;
  }
  .footer-paragraph {
    margin-left: 30px;
  }
  .footer-texts {
    flex-direction: row;
  }
  .pagination-buttons-container {
    flex-direction: row;
    justify-content: center;
  }
}
