.offers-container {
  flex: 1;
  width: 90%;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}

.filters-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 10px;
}

.price-filter {
  margin-bottom: 20px;
}

.title-filter {
  border: 2px solid black;
  text-align: center;
  line-height: 40px;
  margin-bottom: 20px;
}
