.header {
  display: flex;
  flex-direction: column;
  padding: 3% 8%;
  justify-content: space-between;
  align-items: center;
  font-family: var(--bold-kanit);
  background: var(--gray2);
}
.header-title {
  width: fit-content;
  display: inline-block;
  font-size: 20px;
}
.header-title a:hover {
  text-decoration: none;
}
