* {
  margin: 0;
  padding: 0;
}
*::selection {
  color: white;
  background: black;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  min-height: 100%;
  background: var(--gray1);
}
a:visited {
  color: black;
}
